$brand-color: #b92f2c;
$color: #000000;
$white-color: #ffffff;
$grey-bg: #f7f7f7;
$gap: 8px; //toate gapurile sunt multiplu de 8, avem 16 si 32 deci ma gandeam sa folosim $gap pt 8, ($gap *2) pt 16, ($gap*4) pt 32