<section class="carousel">
  <div class="title-holder">
    <div class="waviy">
      <span style="--i: 1">T</span>
      <span style="--i: 2">R</span>
      <span style="--i: 3">E</span>
      <span style="--i: 4">N</span>
      <span style="--i: 5">D</span>
      <span style="--i: 6">I</span>
      <span style="--i: 7">N</span>
      <span style="--i: 8">G</span>
      <span class="letter-space" style="--i: 9">_</span>
      <span style="--i: 10">N</span>
      <span style="--i: 11">O</span>
      <span style="--i: 12">W</span>
    </div>
  </div>
  <div class="swiper">
    <div class="swiper__wrapper"></div>
    <button class="carousel-prev">&#8249;</button>
    <button class="carousel-next">&#8250;</button>
  </div>
  <div class="mobile-container">
    <h2 class="video-title">WATCH TRAILER</h2>
    <p class="video-text">FOR THE MOST VOTED MOVIE</p>
    <div class="video-frame"></div>
  </div>
</section>
