<dialog class="modal" id="teamModal">
  <div class="team__modal">
    <button class="team-close-modal">X</button>
    <h1 class="team__title">Bugs warriors</h1>
    <div class="team__box">
      <!-- team lead -->
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/developerImg.png"
            alt="Team Lead"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/CristinaAI22"
          target="_blank"
        >
          <img class="team__github" src="/src/images/github.png" />
        </a>
        <p class="team__name">Adriana Cristina Ionica</p>
        <p class="team__role">Team Lead</p>
      </div>

      <!-- Scrum Master -->
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/developerImg.png"
            alt="Scrum Master"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GrigorasDavid"
          target="_blank"
        >
          <img class="team__github" src="/src/images/github.png" />
        </a>
        <p class="team__name">Grigoras David</p>
        <p class="team__role">Scrum Master</p>
      </div>

      <!-- developer  1 -->
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/developerImg.png"
            alt="developer "
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/gabrielRaduDanila"
          target="_blank"
        >
          <img class="team__github" src="/src/images/github.png" />
        </a>
        <p class="team__name">Gabriel Radu Danila</p>
        <p class="team__role">Developer</p>
      </div>

      <!-- developer grupei 2 -->
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/developerImg.png"
            alt="developer "
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/ioanadev"
          target="_blank"
        >
          <img class="team__github" src="/src/images/github.png" />
        </a>
        <p class="team__name">Ioana Hibolceanu</p>
        <p class="team__role">Developer</p>
      </div>

      <!-- developer grupei 3 -->
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/developerImg.png"
            alt="developer "
          />
        </div>
        <a class="team__link" href="https://github.com/chiri03" target="_blank">
          <img class="team__github" src="/src/images/github.png" />
        </a>
        <p class="team__name">Chiriac Elena</p>
        <p class="team__role">Developer</p>
      </div>
    </div>
  </div>
</dialog>
